/*@font-face {
  font-family: "forwarder";
  src:url("fonts/forwarder.eot");
  src:url("fonts/forwarder.eot?#iefix") format("embedded-opentype"),
    url("fonts/forwarder.woff") format("woff"),
    url("fonts/forwarder.ttf") format("truetype"),
    url("fonts/forwarder.svg#forwarder") format("svg");
  font-weight: normal;
  font-style: normal;

}*/

@import url(https://fontastic.s3.amazonaws.com/fjje4hBQvR29hFSzfxsT65/icons.css);

#adminmenu #toplevel_page_belco .menu-icon-generic div.wp-menu-image:before{
  font-family:forwarder!important;
  content:"a";
  font-size:1.3em!important;
  color: #ffd140!important;
}

#adminmenu #toplevel_page_belco .menu-icon-generic.wp-has-current-submenu div.wp-menu-image:before{
  color: #fff!important;
}

#adminmenu #toplevel_page_belco a.wp-has-current-submenu.toplevel_page_belco {
  background: #ffd140!important;
  color: #fff;
}

#adminmenu #toplevel_page_belco a.wp-has-current-submenu.current:hover{
  color: #fff!important;
}

#adminmenu #toplevel_page_belco a.wp-not-current-submenu:hover{
  color: #ffd140!important;
}

#adminmenu #toplevel_page_belco .wp-submenu a:hover {
  color: #ffd140!important;
}

#belco_dashboard_widget h3.hndle {
  background: #ffd140!important;
  color: #fff!important;
}

#belco_dashboard_widget h3.hndle:before {
  font-family:forwarder!important;
  content:"a\0020";
  color: #fff!important;
  font-weight: 100;
}

#belco_dashboard_widget .handlediv {
  color: #fff!important;
}

#belco-status {
  width: 150px;
  background-color: #444;
  cursor: pointer;
}

#wp-admin-bar-belco-status .ab-empty-item {
  display: none !important;
}

#belco-status .belco-logo {
  line-height: 100%;
  display: inline-block;
  padding: 0 6px;
}
#belco-status .belco-logo:before {
  font-family:forwarder!important;
  content:"a";
  color: #ffd140!important;
}

#belco-status > span {

}

.toplevel_page_belco #wpbody-content, .belco_page_belco-settings #wpbody-content {
  padding-bottom: 0;
}
#belco-container {
  background: #fff;
  margin: 20px 20px 0 0;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
#belco-frame {
  width: 100%;
  height: 100%;
}